<!-- this is template driven form -->

<h1>Registration</h1>
<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
  <!-- Name Field -->
  <div>
    <label>Name:</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      #nameRef="ngModel"
      required
      placeholder="Your name"
    />
    <div *ngIf="nameRef.invalid && nameRef.touched">
      <small *ngIf="nameRef.errors?.['required']">Name is required.</small>
    </div>
  </div>

  <!-- Email Field -->
  <div>
    <label>Email:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      #emailRef="ngModel"
      required
      placeholder="Your email"
    />
    <div *ngIf="emailRef.invalid && emailRef.touched">
      <small *ngIf="emailRef.errors?.['required']">Email is required.</small>
      <small *ngIf="emailRef.errors?.['email']">Email is invalid.</small>
    </div>
  </div>

  <!-- Password Field -->
  <div>
    <label>Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      required
      minlength="6"
      placeholder="********"
    />
    <div *ngIf="passwordRef.invalid && passwordRef.touched">
      <small *ngIf="passwordRef.errors?.['required']"
        >Password is required.</small
      >
      <small *ngIf="passwordRef.errors?.['minlength']">
        Password must be at least 6 characters long.
      </small>
    </div>
  </div>

  <!-- phone -->
  <div>
    <label>Phone:</label>
    <input
      type="text"
      name="phone"
      [(ngModel)]="phone"
      #phoneRef="ngModel"
      minlength="10"
      placeholder="+8801234567890"
    />
    <div>
      <small *ngIf="phoneRef.errors?.['minlength']">
        phone must be at least 6 characters long.
      </small>
    </div>
  </div>

  <!-- address -->
  <div>
    <label>Address:</label>
    <input
      type="text"
      name="address"
      [(ngModel)]="address"
      #addressRef="ngModel"
      placeholder="Your Address"
    />
  </div>

  <button type="submit" [disabled]="!registrationForm.form.valid">
    Register
  </button>
</form>

<!-- this is reactive form -->

<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input formControlName="username" placeholder="Username" />
  <div
    *ngIf="
      registerForm.controls.username.invalid &&
      registerForm.controls.username.touched
    "
  >
    Username is required and must be at least 3 characters.
  </div>

  <input formControlName="email" placeholder="Email" />
  <div
    *ngIf="
      registerForm.controls.email.invalid && registerForm.controls.email.touched
    "
  >
    Valid email required.
  </div>

  <input type="password" formControlName="password" placeholder="Password" />
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form> -->
