<h1>Add Employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name : </label>
    <input type="text" formControlName="name" placeholder="Your name" />
    <div *ngIf="employeeForm.get('name')?.touched">
      <small *ngIf="employeeForm.get('name')?.errors?.['required']">
        Name is required
      </small>

      <small *ngIf="employeeForm.get('name')?.errors?.['maxlength']">
        Name can't be more than 20 characters
      </small>

      <small *ngIf="employeeForm.get('name')?.errors?.['nameNotUnique']">
        Name should be unique
      </small>
    </div>
  </div>
  <br />
  <div>
    <label>Email : </label>
    <input type="email" formControlName="email" placeholder="Your email" />
    <div
      *ngIf="
        employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched
      "
    >
      <small>Valid email is required</small>
    </div>
  </div>
  <br />
  <div>
    <label>Position : </label>
    <input type="text" formControlName="position" placeholder="Your position" />
    <div
      *ngIf="
        employeeForm.get('position')?.invalid &&
        employeeForm.get('position')?.touched
      "
    >
      <small>Position is required and can't be more than 15 characters</small>
    </div>
  </div>
  <br />
  <div>
    <label>Department : </label>
    <input
      type="text"
      formControlName="department"
      placeholder="Your department"
    />
    <div
      *ngIf="
        employeeForm.get('department')?.invalid &&
        employeeForm.get('department')?.touched
      "
    >
      <small>Department is required and can't be more than 10 characters</small>
    </div>
  </div>
  <br />

  <div formGroupName="address">
    <label>Address : </label>
    <br />
    <br />
    <label>Street : </label>
    <input type="text" formControlName="street" placeholder="input" />
    <div
      *ngIf="address.get('street')?.invalid && address.get('street')?.touched"
    >
      <small>Street is required</small>
    </div>
    |

    <label>City : </label>
    <input type="text" formControlName="city" placeholder="input" />
    <div *ngIf="address.get('city')?.invalid && address.get('city')?.touched">
      <small>City is required</small>
    </div>
    |

    <label>Zip Code : </label>
    <input type="text" formControlName="postalCode" placeholder="input" />
    <div
      *ngIf="
        address.get('postalCode')?.invalid && address.get('postalCode')?.touched
      "
    >
      <small>Postal Code is required</small>
    </div>
  </div>
  <br />

  <!-- skills -->
  <!-- <div formArrayName="skills">
    <label>Skills:</label>
    <div *ngFor="let skill of skills.controls; let i = index">
      <input [formControlName]="i" placeholder="Skill" />
      <button type="button" (click)="removeSkill(i)">Remove</button>
    </div>
    <button type="button" (click)="addSkill()">Add Skill</button>
  </div> -->
  <div>
    <div>
      <label>Skills : </label>
      <input [formControl]="skillInput" placeholder="Enter skill" />
      <button
        type="button"
        (click)="addSkill()"
        [disabled]="skillInput.invalid"
      >
        Add Skill
      </button>
    </div>

    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i = index">
        <span>{{ skill.value }} </span>
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>
    </div>

    <div *ngIf=" skillInput.touched && skills.errors?.['minLengthArray']">
      <small>You must add at least one skill</small>
    </div>
  </div>

  <!-- <div>
    <label>Skills : </label>
    <input type="text" formControlName="skills" placeholder="Your skills" />
    <div
      *ngIf="
        employeeForm.controls.skills.invalid &&
        employeeForm.controls.skills.touched
      "
    >
      <small>Skills is required</small>
    </div>
  </div> -->
  <br />
  <button type="submit" [disabled]="employeeForm.invalid">
    {{ editMode ? "Update Employee" : "Add Employee" }}
  </button>
  |
  <button type="button" (click)="onReset()">Reset</button>
</form>

<div>
  <h1 appCustomAttribute>{{ "Employees" | myCustom : "Header:" }}</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Department</th>
        <th>Skills</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.skills.join(", ") }}</td>
        <td>
          <p>Street: {{ employee.address.street }}</p>
          <p>City: {{ employee.address.city }}</p>
          <p>Postal Code: {{ employee.address.postalCode }}</p>
        </td>
        <td>
          <button (click)="onEditEmployee(employee.id)">Edit</button> |
          <button (click)="onDeleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
