<app-employee-form
  (submit)="onEmployeeSubmit($event)"
  [editEmployee]="selectedEmployee"
  [editMode]="editMode"
  [employees]="employees"
/>

<div class="table-container">
  <h1>Employees</h1>
  <!-- <h1 appCustomAttribute>{{ "Employees" | myCustom : "Header:" }}</h1> -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Department</th>
        <th>Skills</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.skills.join(", ") }}</td>
        <td>
          <p>Street: {{ employee.address.street }}</p>
          <p>City: {{ employee.address.city }}</p>
          <p>Postal Code: {{ employee.address.postalCode }}</p>
        </td>
        <td>
          <button (click)="onEditEmployee(employee)">Edit</button>
          <button (click)="onDeleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
