<nav>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  <!-- <a routerLink="blogs"  routerLinkActive="active" >Blogs</a> -->
  <!-- <a routerLink="admin"  routerLinkActive="active" >Admin</a> -->
  <!-- <a routerLink="registration"  routerLinkActive="active" >Register</a> -->
  <!-- <a routerLink="login"  routerLinkActive="active" >Log In</a> -->
  <a routerLink="employees" routerLinkActive="active">Employees</a>
  <a routerLink="students" routerLinkActive="active">Students</a>
  <a routerLink="expenses" routerLinkActive="active">Expenses</a>
  <a routerLink="event-planner" routerLinkActive="active">Event Planner</a>
  <a routerLink="job-applications" routerLinkActive="active"
    >Job Applications</a
  >
  <a routerLink="task-management" routerLinkActive="active">Task management</a>
</nav>
