.course-container {
  display: flex;
  gap: 1rem;
}

.course-container > button {
  margin-top: 0;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
}

select:focus {
  border-color: #007bff;
}
