<h1>Add Event</h1>
<form [formGroup]="eventPlannerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Title : </label>
    <input type="text" formControlName="title" placeholder="Your title" />
    <div *ngIf="eventPlannerForm.get('title')?.touched">
      <small *ngIf="eventPlannerForm.get('title')?.errors?.['required']">
        Title is required
      </small>
    </div>
  </div>

  <div class="form-group">
    <label>Event Date : </label>
    <input type="date" formControlName="eventDate" placeholder="input" />
    <div
      *ngIf="
        eventPlannerForm.get('eventDate')?.invalid &&
        eventPlannerForm.get('eventDate')?.touched
      "
    >
      <small>Expiry date is required</small>
    </div>
  </div>

  <div class="form-group">
    <label>Location : </label>
    <input type="text" formControlName="location" placeholder="Your text" />
    <div
      *ngIf="
        eventPlannerForm.get('location')?.invalid &&
        eventPlannerForm.get('location')?.touched
      "
    >
      <small>Location is required</small>
    </div>
  </div>

  <div class="form-group">
    <label>Guests : </label>
    <div class="input-add-btn">
      <input [formControl]="guestInput" placeholder="Enter guest" />
      <button
        type="button"
        (click)="addguest()"
        [disabled]="guestInput.invalid"
      >
        Add guest
      </button>
    </div>
    <div *ngIf=" guestInput.touched && guests.errors?.['minLengthArray']">
      <small>You must add at least one guest</small>
    </div>
  </div>
  <div formArrayName="guests">
    <div
      *ngFor="let guests of guests.controls; let i = index"
      class="badge-container"
    >
      <span class="badge">
        {{ guests.value }}
        <span type="button" class="remove-btn" (click)="removeGuest(i)">
          &#10005;
        </span>
      </span>
    </div>
  </div>

  <button type="submit" [disabled]="eventPlannerForm.invalid">Submit</button>
</form>
