<h1>Add Application</h1>
<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Name : </label>
    <input type="text" formControlName="name" placeholder="Your name" />
    <div *ngIf="applicationForm.get('name')?.touched">
      <small *ngIf="applicationForm.get('name')?.errors?.['required']">
        Name is required
      </small>
    </div>
  </div>

  <div class="form-group">
    <label>Email : </label>
    <input type="email" formControlName="email" placeholder="Your text" />
    <div
      *ngIf="
        applicationForm.get('email')?.invalid &&
        applicationForm.get('email')?.touched
      "
    >
      <small>Email is required</small>
    </div>
  </div>

  <div class="form-group">
    <label>Position : </label>
    <input type="text" formControlName="position" placeholder="Your text" />
    <div
      *ngIf="
        applicationForm.get('position')?.invalid &&
        applicationForm.get('position')?.touched
      "
    >
      <small>Position is required</small>
    </div>
  </div>

  <div class="form-group">
    <label>Resume: </label>

    <!-- File input for a new resume upload -->
    <input
      type="file"
      formControlName="resume"
      (change)="onFileChange($event)"
      placeholder="Upload your resume"
    />
    <div>
      <small *ngIf="editApplication?.resume">{{
        editApplication?.resume
      }}</small>
      <small
        *ngIf="
          applicationForm.get('resume')?.invalid &&
          applicationForm.get('resume')?.touched
        "
        >Resume is required</small
      >
      <small *ngIf="fileError">{{ fileError }} </small>
    </div>
  </div>

  <button type="submit" [disabled]="applicationForm.invalid">Submit</button>
</form>
