<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen$ | async">
  <div class="modal-content">
    <div class="modal-header">
      <span>{{
        (selectedEmployee$ | async) ? "Update Employee" : "Add Employee"
      }}</span>
      <span class="close-btn" (click)="closeModal()">×</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="form-group">
          <label>Name: </label>
          <input type="text" formControlName="name" placeholder="Enter name" />
          <div *ngIf="employeeForm.get('name')?.touched">
            <small *ngIf="employeeForm.get('name')?.errors?.['required']">
              Name is required
            </small>
            <small *ngIf="employeeForm.get('name')?.errors?.['maxlength']">
              Name can't be more than 20 characters
            </small>
            <small *ngIf="employeeForm.get('name')?.errors?.['nameNotUnique']">
              Name should be unique
            </small>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label>Email: </label>
          <input
            type="email"
            formControlName="email"
            placeholder="Enter email"
          />
          <div
            *ngIf="
              employeeForm.get('email')?.invalid &&
              employeeForm.get('email')?.touched
            "
          >
            <small>Valid email is required</small>
          </div>
        </div>

        <div class="form-group-grid">
          <!-- Position -->
          <div class="form-group">
            <label>Position: </label>
            <input
              type="text"
              formControlName="position"
              placeholder="Enter position"
            />
            <div
              *ngIf="
                employeeForm.get('position')?.invalid &&
                employeeForm.get('position')?.touched
              "
            >
              <small>Position is required and can't exceed 15 characters</small>
            </div>
          </div>

          <!-- Department -->
          <div class="form-group">
            <label>Department: </label>
            <input
              type="text"
              formControlName="department"
              placeholder="Enter department"
            />
            <div
              *ngIf="
                employeeForm.get('department')?.invalid &&
                employeeForm.get('department')?.touched
              "
            >
              <small
                >Department is required and can't exceed 10 characters</small
              >
            </div>
          </div>
        </div>

        <!-- Address -->
        <div>
          <h4 class="address-label">Address</h4>
          <div formGroupName="address" class="address-container form-group">
            <div class="form-group">
              <label>Street: </label>
              <input
                type="text"
                formControlName="street"
                placeholder="Street"
              />
              <div
                *ngIf="
                  address.get('street')?.invalid &&
                  address.get('street')?.touched
                "
              >
                <small>Street is required</small>
              </div>
            </div>

            <div class="form-group">
              <label>City: </label>
              <input type="text" formControlName="city" placeholder="City" />
              <div
                *ngIf="
                  address.get('city')?.invalid && address.get('city')?.touched
                "
              >
                <small>City is required</small>
              </div>
            </div>

            <div class="form-group">
              <label>Postal Code: </label>
              <input
                type="text"
                formControlName="postalCode"
                placeholder="Postal Code"
              />
              <div
                *ngIf="
                  address.get('postalCode')?.invalid &&
                  address.get('postalCode')?.touched
                "
              >
                <small>Postal code is required</small>
              </div>
            </div>
          </div>
        </div>

        <!-- Skills -->
        <div class="form-group">
          <label>Skills:</label>
          <div class="input-add-btn">
            <input [formControl]="skillInput" placeholder="Enter skill" />
            <button
              type="button"
              (click)="addSkill()"
              [disabled]="skillInput.invalid"
              class="skill-btn"
            >
              Add Skill
            </button>
          </div>
        </div>

        <!-- Display Skills -->
        <div formArrayName="skills">
          <div
            *ngFor="let skill of skills.controls; let i = index"
            class="badge-container"
          >
            <span class="badge">
              {{ skill.value }}
              <span type="button" class="remove-btn" (click)="removeSkill(i)"
                >&#10005;</span
              >
            </span>
          </div>
        </div>

        <div *ngIf="skillInput.touched && skills.errors?.['minLengthArray']">
          <small>You must add at least one skill</small>
        </div>

        <!-- Submit & Reset Buttons -->
        <div class="form-buttons">
          <button type="submit" [disabled]="employeeForm.invalid">
            Submit
          </button>
          <button type="button" (click)="onReset()">Reset</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
