<!-- <h1>Add Employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name : </label>
    <input type="text" formControlName="name" placeholder="Your name" />
    <div *ngIf="employeeForm.get('name')?.touched">
      <small *ngIf="employeeForm.get('name')?.errors?.['required']">
        Name is required
      </small>

      <small *ngIf="employeeForm.get('name')?.errors?.['maxlength']">
        Name can't be more than 20 characters
      </small>
      {{ employeeForm.get("name")?.hasError("nameNotUnique") }}

      <small *ngIf="employeeForm.get('name')?.errors?.['nameNotUnique']">
        Name should be unique
      </small>
    </div>
  </div>

  <div>
    <label>Email : </label>
    <input type="email" formControlName="email" placeholder="Your email" />
    <div
      *ngIf="
        employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched
      "
    >
      <small>Valid email is required</small>
    </div>
  </div>

  <div>
    <label>Position : </label>
    <input type="text" formControlName="position" placeholder="Your position" />
    <div
      *ngIf="
        employeeForm.get('position')?.invalid &&
        employeeForm.get('position')?.touched
      "
    >
      <small>Position is required and can't be more than 15 characters</small>
    </div>
  </div>

  <div>
    <label>Department : </label>
    <input
      type="text"
      formControlName="department"
      placeholder="Your department"
    />
    <div
      *ngIf="
        employeeForm.get('department')?.invalid &&
        employeeForm.get('department')?.touched
      "
    >
      <small>Department is required and can't be more than 10 characters</small>
    </div>
  </div>


  <div formGroupName="address">
    <label>Address : </label>
  
  
    <label>Street : </label>
    <input type="text" formControlName="street" placeholder="input" />
    <div
      *ngIf="address.get('street')?.invalid && address.get('street')?.touched"
    >
      <small>Street is required</small>
    </div>

    <label>City : </label>
    <input type="text" formControlName="city" placeholder="input" />
    <div *ngIf="address.get('city')?.invalid && address.get('city')?.touched">
      <small>City is required</small>
    </div>

    <label>Zip Code : </label>
    <input type="text" formControlName="postalCode" placeholder="input" />
    <div
      *ngIf="
        address.get('postalCode')?.invalid && address.get('postalCode')?.touched
      "
    >
      <small>Postal Code is required</small>
    </div>
  </div>


  <div>
    <div>
      <label>Skills : </label>
      <input [formControl]="skillInput" placeholder="Enter skill" />
      <button
        type="button"
        (click)="addSkill()"
        [disabled]="skillInput.invalid"
      >
        Add Skill
      </button>
    </div>

    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i = index">
        <span>{{ skill.value }} </span>
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>
    </div>

    <div *ngIf=" skillInput.touched && skills.errors?.['minLengthArray']">
      <small>You must add at least one skill</small>
    </div>
  </div>



  <button type="submit" [disabled]="employeeForm.invalid">Submit</button>

  <button type="button" (click)="onReset()">Reset</button>
</form> -->

<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen$ | async">
  <div class="modal-content">
    <div class="modal-header">
      <span>Add Employee</span>
      <span class="close-btn" (click)="closeModal()">×</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div>
          <label>Name : </label>
          <input type="text" formControlName="name" placeholder="Your name" />
          <div *ngIf="employeeForm.get('name')?.touched">
            <small *ngIf="employeeForm.get('name')?.errors?.['required']">
              Name is required
            </small>
            <small *ngIf="employeeForm.get('name')?.errors?.['maxlength']">
              Name can't be more than 20 characters
            </small>
            <small *ngIf="employeeForm.get('name')?.errors?.['nameNotUnique']">
              Name should be unique
            </small>
          </div>
        </div>

        <div>
          <label>Email : </label>
          <input
            type="email"
            formControlName="email"
            placeholder="Your email"
          />
          <div
            *ngIf="
              employeeForm.get('email')?.invalid &&
              employeeForm.get('email')?.touched
            "
          >
            <small>Valid email is required</small>
          </div>
        </div>

        <div>
          <label>Position : </label>
          <input
            type="text"
            formControlName="position"
            placeholder="Your position"
          />
          <div
            *ngIf="
              employeeForm.get('position')?.invalid &&
              employeeForm.get('position')?.touched
            "
          >
            <small
              >Position is required and can't be more than 15 characters</small
            >
          </div>
        </div>

        <div>
          <label>Department : </label>
          <input
            type="text"
            formControlName="department"
            placeholder="Your department"
          />
          <div
            *ngIf="
              employeeForm.get('department')?.invalid &&
              employeeForm.get('department')?.touched
            "
          >
            <small
              >Department is required and can't be more than 10
              characters</small
            >
          </div>
        </div>

        <div formGroupName="address">
          <label>Address : </label>

          <div class="address">
            <label>Street : </label>
            <div class="input">
              <input
                type="text"
                formControlName="street"
                placeholder="Street"
              />
              <div
                *ngIf="
                  address.get('street')?.invalid &&
                  address.get('street')?.touched
                "
              >
                <small>Street is required</small>
              </div>
            </div>
          </div>

          <div class="address">
            <label>City : </label>
            <div class="input">
              <input type="text" formControlName="city" placeholder="City" />
              <div
                *ngIf="
                  address.get('city')?.invalid && address.get('city')?.touched
                "
              >
                <small>City is required</small>
              </div>
            </div>
          </div>

          <div class="address">
            <label>Zip Code : </label>
            <div class="input">
              <input
                type="text"
                formControlName="postalCode"
                placeholder="Postal Code"
              />
              <div
                *ngIf="
                  address.get('postalCode')?.invalid &&
                  address.get('postalCode')?.touched
                "
              >
                <small>Postal Code is required</small>
              </div>
            </div>
          </div>
        </div>

        <div>
          <label>Skills : </label>
          <input [formControl]="skillInput" placeholder="Enter skill" />
          <button
            type="button"
            (click)="addSkill()"
            [disabled]="skillInput.invalid"
            class="skill-btn"
          >
            Add Skill
          </button>
        </div>

        <div formArrayName="skills">
          <div *ngFor="let skill of skills.controls; let i = index">
            <span>{{ skill.value }} </span>
            <button type="button" (click)="removeSkill(i)">Remove</button>
          </div>
        </div>

        <div *ngIf="skillInput.touched && skills.errors?.['minLengthArray']">
          <small>You must add at least one skill</small>
        </div>

        <button type="submit" [disabled]="employeeForm.invalid">Submit</button>
        <button type="button" (click)="onReset()">Reset</button>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
