* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

app-topbar {
  position: sticky;
  top: 0;
}

.main-content {
  margin-top: 1.5rem;
}

h1 {
  text-align: center;
}

/* Modal background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 80vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

/* Modal header */
.modal-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Modal body */
.modal-body {
  margin-bottom: 20px;
  /* text-align: center; */
}

form {
  max-width: 30rem;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 8px;
  /* margin-top: 4px; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.address-label {
  margin-bottom: 1rem;
}

.address-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}

small {
  color: red;
}

/* Style for the badge container */
.badge-container {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

/* Styling for the skill badge */
.badge {
  background-color: #3d5772;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.remove-btn {
  cursor: pointer;
}

.input-add-btn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.3rem;
}

/* Modal footer with buttons */
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Close button */
.close-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
  color: #333;
}

/* Submit button */
.modal-footer button {
  padding: 8px 16px;
  background-color: #56a098;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}

.modal-footer button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button {
  padding: 8px 16px;
  /* margin-top: 10px; */
  /* margin-right: 8px; */
  background-color: #39877f;
  /* background-color: #79cfc7; */

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not([disabled]) {
  background-color: #166d69;
}

.form-buttons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.view-btn {
  background-color: #59c078;
  color: white;
}

.view-btn:hover {
  background-color: #30a14c !important;
}

.view-btn:focus {
  outline: none;
}

.delete-btn {
  background-color: #e34b5a;
  color: white;
}

.delete-btn:hover {
  background-color: #bb424e !important;
}

.delete-btn:focus {
  outline: none;
}

.table-container {
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td p {
  margin: 0;
}
